/ShopOnline/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/ShopOnline/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ShopOnline/obj/Debug/edmxResourcesToEmbed/Models/ShopOnline.csdl
/ShopOnline/obj/Debug/edmxResourcesToEmbed/Models/ShopOnline.msl
/ShopOnline/obj/Debug/edmxResourcesToEmbed/Models/ShopOnline.ssdl
/ShopOnline/obj/Debug/ShopOnline.csproj.AssemblyReference.cache
/ShopOnline/obj/Debug/ShopOnline.csproj.CopyComplete
/ShopOnline/obj/Debug/ShopOnline.csproj.CoreCompileInputs.cache
/ShopOnline/obj/Debug/ShopOnline.csproj.FileListAbsolute.txt
/ShopOnline/obj/Debug/ShopOnline.dll
/ShopOnline/obj/Debug/ShopOnline.pdb
/ShopOnline/obj/Debug/TempPE/Models.ShopOnline.Context.cs.dll
/ShopOnline/obj/Debug/TempPE/Models.ShopOnline.cs.dll
/ShopOnline/obj/Debug/TempPE/Models.ShopOnline.Designer.cs.dll
/ShopOnline/obj/Debug/Tsc.out
